*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(192, 192, 192);
}

body{
    width: 100%;
    min-height: 100vh;
}

header{
    min-height: 8vh;
}

main{
    min-height: 83vh;
}

footer{
    height: 9vh;
}

@media (min-height: 950px) {
    header{
        min-height: 8vh;
    }
    
    main{
        min-height: 86vh;
    }
    
    footer{
        height: 6vh;
    }
  }

header, main, footer{
    border: 3px solid rgb(0, 0, 0);
}

main, main *{
    background-color: rgb(255, 255, 255);
}

.barra{
    width: 100%;
    border-bottom: 3px solid rgb(0, 0, 0);
    background-color: rgb(141, 141, 141);
}

.barra-item{
    margin: auto;
    background-color: rgb(141, 141, 141);
}

.barra svg{
    background-color: rgb(141, 141, 141);
}

.card-body-header{
    height: 100%;
}

.card-img-top{
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.detailImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

